#calculator {
    border: 5px solid rgb(132, 133, 135);
    border-radius: 10px;
    width: 225px ;
    background-color:rgb(36, 36, 36) ;
}
#display{
    margin-left: 12.5px;
    margin-top: 12.5px;
    height: 50px;
    width: 193px;
    font-size: 30px;
    background-color: rgb(128, 128, 128);
    border-color: azure;
}

.button-container{
    margin-left: 5px;
    margin-top: 5px;
}
.button{
    width: 45px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-color: gray;
    font-size: 30px;
}

#op{
    font-weight: bold;
    background-color: rgb(83, 83, 83);
}

#clear{
    font-weight: bold;
    background-color: rgb(255, 196, 4);
}


#eq{
    font-weight: bold;
    background-color: rgb(83, 83, 83);
}